* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset */

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Reset End */
body {
  font-family: "poppins";
  color: hsl(210, 10%, 33%);
}

.hero-section {
  background: url(/images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200%;
}

.hero-container {
  position: relative;
  top: 90px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.logo {
  width: 100px;
}

.hero-txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.hero-btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.hero-btn-wrapper :nth-child(1) {
  padding: 10px 40px;
  background: hsl(171, 66%, 44%);
  border-radius: 25px;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
}

.hero-btn-wrapper :nth-child(2) {
  padding: 10px 40px;
  background: hsl(233, 100%, 69%);
  border-radius: 25px;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
}

.main-container {
  margin: 50px;
}

.main-topber {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.main-first-child {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;
}

.main-first-child img {
  width: 100%;
}

.first-child-txt {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.txt-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* main-secound-child */

.main-secound-child {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;
  align-items: center;
  text-align: center;
}

.secound-child-topber {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-secound-child img {
  width: 100%;
}
/* main-secound-child End */

/* main-third-child */

.main-third-child {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;
  text-align: center;
}

.third-child-topber {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.third-child-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.third-child-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
/* main-third-child End */

/* sponsored-section */

.sponsored-section {
  padding: 40px 0;
}

.sponsored-items {
  /* display: grid;
  grid-template-columns: 1fr; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  /* justify-self: center; */
}

.sponsored-items img {
  width: 50%;
}
/* sponsored-section End */

/* main-last-child */

.main-last-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 40px 0;
}

.last-child-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.last-child-btn :nth-child(1) {
  padding: 10px 40px;
  background: hsl(171, 66%, 44%);
  border-radius: 25px;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
}

.last-child-btn :nth-child(2) {
  padding: 10px 40px;
  background: hsl(233, 100%, 69%);
  border-radius: 25px;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
}
/* main-last-child End */

/* footer-section */

.footer-section {
  text-align: center;
  padding: 40px 0;
  background: hsl(201, 11%, 66%);
}

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.first-col-items ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  color: hsl(210, 10%, 33%);
}

.first-col-items a {
  color: hsl(210, 10%, 33%);
  transition: 600ms;
}

.first-col-items a:hover {
  color: hsl(171, 66%, 44%);
}

.last-col-items {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.last-col-items img {
  width: 20px;
  cursor: pointer;
}
.last-col-items img:hover {
  background: hsl(171, 66%, 44%);
}
/* footer-section End */

/* Media quaries */

@media screen and (min-width: 620px) {
  .hero-btn-wrapper {
    flex-direction: row;
    justify-content: center;
  }

  .main-first-child {
    flex-direction: row;
    gap: 50px;
    position: relative;
    left: -60px;
  }

  .main-first-child img {
    width: 50%;
  }

  .first-child-txt {
    text-align: start;
  }

  .third-child-container {
    flex-direction: row;
  }

  .sponsored-items {
    flex-direction: row;
    justify-content: center;
  }

  .sponsored-items img {
    width: 15%;
  }

  .last-child-btn {
    flex-direction: row;
    justify-content: center;
  }

  .footer-items {
    flex-direction: row;
    justify-content: space-around;
  }

  .first-col {
    display: flex;
    gap: 50px;
  }

  .first-col img {
    width: 50%;
  }
  .first-col-items ul {
    align-items: start;
  }
}

@media screen and (min-width: 920px) {
  .main-secound-child img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .sponsored-items {
    flex-direction: row;
    justify-content: space-around;
  }

  .sponsored-items img {
    width: 10%;
  }
}
/* Media quaries End */
